@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Limelight&family=Noto+Serif+TC:wght@200..900&display=swap');

$color1:#A7BCBE;
$color2:#617272;
$fontColor1:#FFF;
$fontColor2:#6b7a7a;
$fontColor3:#364646;
$borderColor1:#364646;
$borderColor2:#6b7a7a;
$scrollbar:#3646465d;

$xs: 575.98px;
$sm: 767px;
$md: 992px;
$lg: 1400px;
$xl: 1920px;

@mixin rwd($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255,255,255,0.2);
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  //border-radius: 4px;
  background-color: $scrollbar;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}

a {
  color:$fontColor3;
  text-decoration: none;
}

html,body {
  padding: 0;
  margin: 0;
  background-color: $color1;
  background-image: url('../img/bg.png');
  background-size: 100vw 100vh;
  background-attachment: fixed;
  font-family: "Exo 2","Noto Serif TC";
}

.divider {
  width: 1px;
  height: 20px;
  background-color: $borderColor2;
  margin: 0 1rem;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: "Limelight","Noto Serif TC";
  .headerBox {
    width: 90vw;
    height: 100%;
    border-width: 0 0 2px 0;
    border-color: $borderColor1;
    border-style: solid;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -0px;
      right: 0;
      width: 22px;
      height: 22px;
      background-image: url('../img/corner.png');
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -0px;
      left: 0;
      width: 22px;
      height: 22px;
      transform: scaleX(-1);
      background-image: url('../img/corner.png');
    }
  }
  .headerBoxMenu {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color:$fontColor3;
  }
  .headerBoxMenuItem {
    font-size: 1.2rem;
    text-align: center;
  }
  .headerBoxMenuLogo {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
}

.content {
  width: 90vw;
  min-height: calc(100vh - 60px - 2rem);
  margin: 0 auto;
}

.cardBox {
  .cardBoxTitle {
    color:$fontColor3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
  }
  .cardBoxTitleLine {
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 19vw;
    height: 2px;
    background-color: $borderColor1;
    /*&::after {
      content: '';
      position: absolute;
      bottom: -0px;
      right: 0;
      width: 22px;
      height: 22px;
      background-image: url('../img/corner.png');
    }*/
  }
  .cardBoxTitleText {
    font-size: 3rem;
    font-family: "Limelight";
  }
  .cardBoxTitleMenu {

  }
  .cardBoxContent {

  }
}

.tagBox {
  border-style: solid;
  border-width: 1px;
  border-color: $borderColor1;
  border-radius: 16px;
  color:$fontColor3;
  padding: 4px 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  transform-origin: 0.2s;
  cursor: pointer;
}

.tagBox2 {
  padding: 2px 1rem;
  font-size: 0.8rem;
}

.tagBoxOnc {
  background-color: $borderColor1;
  color:$fontColor1;
}

.buttonBox {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: $borderColor1;
  color:$fontColor3;
  cursor: pointer;
  transition-duration: 0.2s;
  &:hover {
    background-color: $borderColor1;
    color:$fontColor1;
  }
}

.searchBox {
  position: sticky;
  top: 20px;
}

.articleBar {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $borderColor1;
  color:$fontColor3;
  .articleBarBox {
    display: flex;
    align-items: center;
  }
  .articleBarBoxTime {
    font-size: 1rem;
    color:$fontColor2;
  }
  .articleBarBoxTitle {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.articleBox {
  width: 100%;
  .articleBoxInner {
    width: 100%;
  }
  .articleBoxInnerImg {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 1rem;
    border:1px solid $borderColor1;
  }
  .articleBoxInnerImgPic {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }
  .articleBoxTitle {
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $borderColor1;
    color:$fontColor3;
    position: relative;
  }
  .articleBoxTime {
    font-size: 0.9rem;
    color:$fontColor2;
    text-align: right;
  }
  .articleBoxInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.articlePage {
  .articlePageBox {
    min-height: calc(100vh - 60px - 2rem);
  }
  .articlePageBoxNoComments {
    font-size: 1.6rem;
    text-align: center;
    color:$fontColor2;
    margin-bottom: 1rem;
  }
  .articlePageTitle {
    color:$fontColor3;
  }
  .articlePageTitleText {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $borderColor1;
  }
  .articlePageTitleInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .articlePageTitleInfoClass {
    display: flex;
    align-items: center;
  }
  .articlePageTitleInfoList {
    display: flex;
    align-items: center;
    color:$fontColor2;
  }
  .articlePageTitleInfoListItem {
  }
  .articlePageContent {
    color:$fontColor3;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    img {
      max-width: 80%;
    }
  }
}

.articleItem {
  .articleItemBox {
    display: flex;
    color:$fontColor3;
  }
  .articleItemBoxImg {
    width: 300px;
    height: 200px;
    border: 1px solid $borderColor1;
    border-radius: 6px;
    margin-right: 2rem;
  }
  .articleItemBoxContent {
    width: calc(100% - 300px - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .articleItemBoxContentTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .articleItemBoxContentTitleText {
    font-size: 1.6rem;
  }
  .articleItemBoxContentContent {
    font-size: 1.2rem;
  }
  .articleItemBoxContentInfo {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $borderColor2;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .articleItemBoxContentInfoList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .articleItemBoxContentInfoListItem {
    display: flex;
    align-items: center;
  }
  .articleItemBoxContentInfoTime {

  }
  .articleItemBoxContentInfoClasstype {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
}

.commentBox {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $borderColor1;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  .commentBoxInner {
    display: flex;
    align-items: center;
  }
  .commentBoxInnerImg {
    width: 50px;
    height: 50px;
    font-size: 50px;
    border-radius: 100%;
    margin-right: 1rem;
    color:$fontColor3;
  }
  .commentBoxInnerUserInfo {
    width: calc(100% - 50px - 1rem);
  }
  .commentBoxInnerUserInfoName {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .commentBoxInnerUserInfoNameText {
    font-size: 1.2rem;
    font-weight: bold;
    color:$fontColor3;
    margin-bottom: 0.6rem;
  }
  .commentBoxInnerUserInfoNameTime {
    color:$fontColor2;
  }
  .commentBoxInnerUserInfoComment {
    color:$fontColor3;
  }
}

.authorBox {
  padding: 1rem;
  color:$fontColor3;
  .authorBoxInner {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .authorBoxInnerImg {
    width: 70px;
    height: 70px;
    font-size: 70px;
    margin-right: 1rem;
    border-radius: 100%;
  }
  .authorBoxInnerUser {
    width: calc(100% - 70px - 1rem);
  }
  .authorBoxInnerUserName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .authorBoxInnerUserContent {

  }
  .authorBoxInfo {
    display: flex;
    justify-content: flex-end;
  }
  .authorBoxInfoItem {
    font-size: 1.6rem;
    border-radius: 100%;
    margin-left: 0.8rem;
    cursor: pointer;
  }
}

.borderBox {
  //border:1px solid $borderColor1;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-image:
    url("../img/border.png")
        22 /                    /* slice */
        22px 22px 22px 22px;
  .borderBoxTitle {
    font-size: 1.6rem;
    font-weight: bold;
    color:$fontColor3;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $borderColor1;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .borderBoxContent {

  }
}

.borderBox2 {
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  border-image:
    url("../img/border2.png")
        22 /                    /* slice */
        22px 22px 22px 22px;
}

.borderBox3 {
  padding: 2rem;
  margin-bottom: 2rem;
  border-image:
    url("../img/border3.png")
        4 /                    /* slice */
        4px 4px 4px 4px;
}

.classtypeBar {
  color:$fontColor3;
  margin-bottom: 0.5rem;
  .classtypeBarTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .classtypeBarTitleText {
    font-size: 1.2rem;
  }
  .classtypeBarTitleMenu {
    transform: rotate(180deg);
    transition-duration: 0.2s;
  }
  .classtypeBarTitleMenuOn {
    transform: rotate(0deg);
  }
  .classtypeBarMenu {
    padding: 0.2rem 0 0.2rem 1.2rem;
    border-width: 0 0 0 1px;
    border-style: dashed;
    border-color: $borderColor1;
  }

}

.classtypeBox {
  position: sticky;
  top: 20px;
}

.addCommentBox {
  .addCommentBoxContent {
    width: 100%;
    height: 100px;
    background-color: transparent;
    border:1px solid $borderColor1;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .addCommentBoxMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.loginBox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  .loginBoxInner {
    width: 380px;
    padding: 1rem;
    background-color: $color1;
    border: 1px solid $borderColor1;
    position: relative;
    z-index: 99;
  }
  .loginBoxInnerTitle {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    color:$fontColor3;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $borderColor1;
  }
  .loginBoxInnerContent {
    margin-bottom: 1rem;
  }
  .loginBoxInnerContentItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 10px;
    font-family: 'Exo 2';
  }
  .loginBoxInnerContentItemTitle {
    width: 120px;
    padding: 4px 1rem;
    box-sizing: border-box;
    background-color: $color2;
    color:$fontColor1;
  }
  .loginBoxInnerContentItemInput {
    width: calc(100% - 120px);
    padding: 4px 1rem;
    border-width: 0px;
  }
  .loginBoxInnerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.inputBox {
  margin-bottom: 1.2rem;
  .inputBoxTitle {

    font-size: 1.2rem;
    font-weight: bold;
    color:$fontColor3;
    border-width: 0 0 1px 0;
    border-color: $borderColor2;
    border-style: solid;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
  .inputBoxContent {
    input,select {
      width: 100%;
      background-color: transparent;
      border:1px solid $borderColor1;
      border-radius: 6px;
      padding: 4px;
      color:$fontColor3;
    }
  }
}

.footer {
  height: 50px;
  background-color: $color2;
  display: flex;
  align-items: center;
  justify-content: center;
  color:$fontColor1;
}